<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RedisHost" value="localhost" />
    <add key="RedisPort" value="6379" />
    <add key="RedisPassword" value="" />
    <add key="SourceList" value="SeedList1.txt"/>
        
    <!-- Expressed in miliseconds e.g. 5000/1000 = 5 sec -->
    <add key="ServerSleepInterval" value="5000" />
    <add key="ServerUpdateLoopCount" value="1" />
    <add key="ClientSleepInterval" value="3000" />
    <add key="ClientUpdateLoopCount" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
</configuration>